@import 'src/styles/_variables';
@import 'src/styles/_breakpoints';

.card {
	width: 700px;
	height: 250px;
	display: flex;
	border: 3px solid $black;
	align-items: center;

	margin: 35px;
	background-color: $yellow;
	box-shadow: 12px 12px $black;

    @media (max-width: $mobile) {
        flex-direction: column;
        width: 300px;
        height: auto;
    }

	.image {
		width: 280px;
		height: 157.5px;
		object-fit: cover;
		margin: 30px;
		border: 2px $black solid;

        @media (max-width: $mobile) {
            width: 250px;
            height: 140.6px;
        }
	}

	.cardInfo {
		margin: 50px;
		color: $black;
        
        @media (max-width: $mobile) {
            margin: 0 25px 25px;
        }

		h2 {
			font-family: MavenPro-Bold, sans-serif;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		p {
			font-family: MavenPro-Medium, sans-serif;
			margin-bottom: 20px;
		}

		h3 {
			font-family: MavenPro-Bold, sans-serif;
			padding: 10px 0;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	&:hover {
		@media (min-width: ($tablet + 1)) {
			background-color: $blue;
			cursor: pointer;
		}
	}

	&:active {
		box-shadow: none;
		position: relative;
		left: 12px;
		top: 12px;
	}
}
