@import 'src/styles/_variables';
@import 'src/styles/_breakpoints';

.projectList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: MavenPro-Bold, sans-serif;
    font-size: 50px;
    text-align: center;
    color: $black;
    margin-bottom: 15px;
}
.separator {
    background-color: $black;
    height: 7px;

    margin: 100px 100px 50px;
}

.projectsDescription {
    text-align: center;
    font-family: MavenPro-Semibold, sans-serif;
    font-size: 20px;
    color: $black;
}

.link {
    font-family: MavenPro-Bold, sans-serif;
    color: $black;

    &:hover {
        text-decoration: underline;
    }
}
