@import 'src/styles/_variables';
@import 'src/styles/_breakpoints';

.separator {
    background-color: $black;
    height: 7px;

    margin: 100px 100px 50px;
}

.projectsDescription {
    text-align: center;
    font-family: MavenPro-Semibold, sans-serif;
    font-size: 20px;
    color: $black;

    @media (max-width: $tablet) {
        font-size: 16px;;
    }

    .link {
        font-family: MavenPro-Bold, sans-serif;
        color: $black;
    
        &:hover {
            text-decoration: underline;
        }
    }
}

.projectList {
    display: flex;
    flex-direction: column;
    align-items: center;
}



