@import 'src/styles/_variables';
@import 'src/styles/_breakpoints';

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;

    padding: 160px 0 50px 0;
    margin-bottom: 50px;

    @media (max-width: $mobile) {
        flex-direction: column;
        height: 600px;
        padding: 50px 0 0;
        margin-bottom: 0px;

    }
}

.message {
	background-image: url('/assets/svg/messageBox.svg');
	background-size: 500px;
	background-repeat: no-repeat;

	width: 525px;
	height: 210px;

	margin: 80px 80px 80px 0;
	padding: 22px 55px 22px 22px;

    @media (max-width: $tablet) {
        margin-right: 0;
        width: 400px;
        background-size: 400px;
    }
    
    @media (max-width: $mobile) {
        background-image: url('/assets/svg/messageBoxMobile.svg');
        margin: 0px 0 0px;
        width: 350px;
        background-size: 350px;
        padding-top: 18px;
    }
}

.messageText {
	font-family: MavenPro-Medium, sans-serif;
	font-size: 25px;
    width: 420px;

    @media (max-width: $tablet) {
        font-size: 20px;
        width: 350px;
    }

    @media (max-width: $mobile) {
        font-size: 18px;
        width: 300px;
    }
}

.picture {
    object-fit: cover;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border: 3px solid $black;
    box-shadow: 12px 12px $black;

    @media (max-width: $mobile) {
        width: 200px;
        height: 200px;

    }
}